:root {
  --primary-color: #3b82f6;
  --primary-color-hover: #1962d6;
  --gray: #525252;
  --light-gray: #f9fafb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Container */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.input {
  display: block;
  width: 35%;
  padding: 0.7rem;
  margin: 1rem auto;
  border-radius: 1rem;
  border: 1px solid var(--gray);
}

.btn-check {
  display: block;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.btn-check:hover {
  background-color: var(--primary-color-hover);
}

.output {
  text-align: center;
  margin: 1rem;
}
